/*
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-font-weight:
default:400
medium: 500
large:700
-line height:
default:1

---colors

- primary:#e67e22
- tints:#fdf2e9
- shades:#a15818
- accents:
- greys: #555, #333

----  SHADOWS
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.088);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.099);

---- BORDER-RADIUS
default: 9px
medium:11px

---- WHITE SPACE 
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-gray: #999;
  --color-dark: #000;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 95%;

  --shadow: 0px 13px 13px rgba(0, 0, 0, 0.6);

  --transition: all 400ms ease;
}
html {
  font-size: 62.5%;

  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  padding-top: 1rem;
  font-family: "Poppins", sans-serif;
  background: var((--color-bg));

  background-color: #001524;
}
.margin_right {
  margin-right: 1rem;
}
/* =========================GENERAL STYLING======================== */
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
}
section {
  margin-top: 8rem;
  height: 100vh;
  border-radius: 2rem;
}
section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}
section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}
.text-light {
  color: var(--color-dark);
}

a {
  color: var(--color-primary);
  font-size: 1.4rem;
  transition: var(--transition);
}
a:hover {
  color: var(--color-bg-variant);
}

.container {
  width: 75%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 13px 13px rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
}
.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-dark);
  color: var(--color-white);
  border-color: transparent;
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.section_margin__top {
  /* border-top: 1.2px solid var(--color-primary); */
  margin-top: 2rem;
}
/* ===========ICON STYLES\===================== */
.icon {
  font-size: 2.4rem;
}

/* ============Card styling============ */

.outer_card,
.inner_card {
  width: 28rem;
  height: 38rem;
  cursor: default;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.outer_card {
  background: var(--color-bg-variant);
}

.inner_card {
  background: var(--color-primary);
  transform: rotate(-6deg);
  transition: var(--transition);
}

.inner_card:hover {
  transform: rotate(0);
}
.inner_card h2 {
  font-size: 2rem;

  border-bottom: 2px solid var(--color-bg-variant);
}
/* ==============SWIPERJS ========================= */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: var(--color-white);
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: var(--color-primary);
}

/* =====================MEDIA QUERIES FOR MEDIUM SCREENS================================ */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
    height: 100vh;
  }
}

/* =====================MEDIA QUERIES FOR SMALL  SCREENS================================ */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section {
    margin-bottom: 2rem;
  }
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
